<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
    <header>
        Header
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
    </footer>
    </div>

</body>
</html>