<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>

    <style>
        .header {
            width: 75%;
            text-align: center;
        }
        .thumb1 {
            float: left;
            width: 30%;
        }
        .thumb2 {
            float: left;
            width: 30%;
        }
        .thumb3 {
            float: left;
            width: 30%;
        }
    </style>
</head>
<body>

    <div class="header">
        <h1>Welcome to the Gallery.</h1>
        <br />
        <br />
    </div>

    <div class="container">
        <div class="thumb1">
            <a href="../views/arch.html">
                <img src="/images/arch.png" width="200px" height="200px">
            </a>
        </div>

        <div class="thumb2">
            <a href="deb.html">
                <img src="/images/deb.png" width="200px" height="200px">
        </div>
        
        <div class="thumb3">
            <a href="rhel.html">
                <img src="/images/rhel.png" width="200px" height="200px">
        </div>
    </div>

</body>
</html>