<title>Home Page</title>
<link rel="stylesheet" href="css/style.css">
<div class="header">
<h1>Welcome to the Gallery.</h1>
<br />
<br />
</div>

<div class="container">
<div class="thumb1">
<a href="/images/1">
<img src="/images/1.png" width="200px" height="200px">
</a>
</div>

<div class="thumb2">
<a href="/images/2">
<img src="/images/2.png" width="200px" height="200px">
</div>

<div class="thumb3">
<a href="/images/3">
<img src="/images/3.png" width="200px" height="200px">
</div>